*~
O.*
*.swp
*BAK.adl
bin/
db/
dbd/
html/
include/
lib/
templates/
cdCommands
envPaths
dllPath.bat
auto_settings.sav*
auto_positions.sav*
alive/
areaDetector/
autosave/
busy/
calc/
camac/
caputRecorder/
dac128V/
delaygen/
dxp/
ip/
ip330/
ipUnidig/
love/
mca/
measComp/
modbus/
motor/
optics/
quadEM/
softGlue/
sscan/
std/
stream/
vac/
vme/
xxx/
